<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>


<body>   
<h1><div id = "sample"> Write stock symbol. Example: GOLD, BABA, FB </div></h1>

<p>
    <div><label for="User name"> User name:  </label><input id="userName" type="text"/></div><br>
    <div><label for="Password "> Password:   </label><input size="25" id="password" type="password"/></div><br>
    <div><button id="Check"> Check user name </button> <button id="Login"> Login</button> <button id="AddNewUser"> Add new user</button></div>
</p>
 <p>
    <div><label for="Stock symbol"> Stock symbol:  </label> <input id="stockSymbol" type="text"/> <br/><br/></div>
    <div><button id="Submit"> Submit</button></div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
<script src="app.js"></script>

</p>
<div>For symbol <span id="symbol">____</span> latest price is <span id="outputLatestPrice">____</span></div>
<div><button id="Buy">Buy </button><input type="number"></div>
<p>
    <div>User Id:  <span id="userId"></span></div>
    <div>User Name:<span id="uName"></span></div>
    <div>User Cash:<span id="userCash"></span></div>

</p>

</p>
</body>
</html>