<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>


<body>
    
    <div class="welcome"><font size="6">Welcome <span id="name"></span></font></div>
    <div class="userInfo">
        <tr>
           <td>Id: </td> 
           <td>
               <span id="userId"></span><br>
            </td>
        </tr> 
        <tr>
            <td>Cash:</td>
            <td>
            <span id="cash"> </span>
            </td>
        </tr> 
    </div>

<h4><div id = "sample"> Chceck latest price for stock symbol. Example: GOLD, BABA, FB </div></h4>
<table>
    <tr>
        <td>Stock symbol: </td>
        <td>
            <input id="stockSymbol" type="text">
        </td>
    </tr>
    <tr>
        <td>
            <button  id="submit">Check price</button>
        </td>
        <td>
            <span id="outputLatestPrice"></span>
        </td>
    </tr>
    
    <button  id="ss">Check user</button>
</table> 
   

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
<script src="login.js"></script>

</body>
</html>