<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>StockExchange Register Page</title>



</head>
<script src="https://kit.fontawesome.com/be9ce9445f.js" crossorigin="anonymous"></script>

<style type="text/css">

    i.chartColor{
        color: red;
    }
    
    i.title{
        color: red
    }

</style>    



<body>
    <center>
        <div><i class="fas fa-chart-line fa-5x chartColor"></i> <br>
        <i class="title"><b>Register</b></i></div>

<table>
        <tr>
            <td>User name:</td>
            <td>
                <input id="userName" type="text">
            </td>    
        </tr>
        <tr>
            <td>Pasword:</td>
            <td>
                <input id="password" type="text">
            </td>
        </tr>
        <tr>
            <td>Email</td>
            <td>
                <input id="email" type="email">
            </td>
        </tr>
        <tr>
            <td>
                <input type="submit" name="register" value="Register">
            </td>
            <td>
                <form action="login.html">
                    <input type="submit" value="Login here">
                </form>
            </td>
        </tr>
</table>

    </center>
</body>
</html>